<?xml version="1.0"?>
<config>
	<modules>
		<Fishpig_Glossary>
			<version>1.0.4.12</version>
		</Fishpig_Glossary>
	</modules>
	<global>
		<helpers>
			<glossary>
				<class>Fishpig_Glossary_Helper</class>
			</glossary>
		</helpers>
		<blocks>
			<glossary>
				<class>Fishpig_Glossary_Block</class>
			</glossary>
		</blocks>
		<models>
			<glossary>
				<class>Fishpig_Glossary_Model</class>
				<resourceModel>glossary_resource</resourceModel>
			</glossary>
			<glossary_resource>
				<class>Fishpig_Glossary_Model_Resource</class>
				<entities>
					<word><table>glossary_word</table></word>
					<word_store><table>glossary_word_store</table></word_store>
				</entities>
			</glossary_resource>
		</models>
		<resources>
			<glossary_setup>
				<setup>
					<module>Fishpig_Glossary</module>
				</setup>
			</glossary_setup>
		</resources>
		<events>
			<controller_front_init_routers>
				<observers>
					<glossary>
						<class>Fishpig_Glossary_Controller_Router</class>
						<method>initControllerRouters</method>
					</glossary>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<glossary>
					<file>glossary.xml</file>
				</glossary>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<glossary before="Mage_Adminhtml">Fishpig_Glossary_Adminhtml</glossary>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<routers>
			<glossary>
				<use>standard</use>
				<args>
					<module>Fishpig_Glossary</module>
					<frontName>gls</frontName>
				</args>
			</glossary>
		</routers>
		<layout>
			<updates>
				<glossary>
					<file>glossary.xml</file>
				</glossary>
			</updates>
		</layout>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<glossary>
						<type>singleton</type>
						<class>glossary/observer</class>
						<method>addBlockCommentsObserver</method>
					</glossary>
				</observers>
			</core_block_abstract_to_html_after>
			<controller_front_send_response_before>
				<observers>
					<glossary>
						<type>singleton</type>
						<class>glossary/observer</class>
						<method>injectWordLinksObserver</method>
					</glossary>
				</observers>
			</controller_front_send_response_before>
		</events>
	</frontend>
	<default>
		<glossary>
			<seo>
				<front_name>glossary</front_name>
				<url_suffix>/</url_suffix>
				<page_title>Glossary</page_title>
				<meta_description></meta_description>
			</seo>
			<breadcrumb>
				<enabled>1</enabled>
				<label>Glossary</label>
			</breadcrumb>
			<autolink>
				<enabled>1</enabled>
				<max_links_per_word>1</max_links_per_word>
				<allowed_modules>glossary,glossarypro,wordpress,catalog,catalogsearch,cms,contacts,review,tag</allowed_modules>
				<library>wz_tooltip</library>
				<wz_tooltip_extra><![CDATA[a:5:{s:18:"_1390848011760_760";a:2:{s:7:"command";s:7:"PADDING";s:5:"value";s:2:"10";}s:18:"_1390848476716_716";a:2:{s:7:"command";s:7:"BGCOLOR";s:5:"value";s:4:"#fff";}s:18:"_1390848490913_913";a:2:{s:7:"command";s:5:"WIDTH";s:5:"value";s:4:"-500";}s:18:"_1390848594263_263";a:2:{s:7:"command";s:11:"BORDERCOLOR";s:5:"value";s:4:"#333";}s:18:"_1390848600495_495";a:2:{s:7:"command";s:6:"SHADOW";s:5:"value";s:4:"true";}}]]></wz_tooltip_extra>
			</autolink>
		</glossary>
	</default>
</config>